.header{
    display: flex;
    background-color: rgb(50, 167, 145);

}
.trybewarts-login{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70%;
    flex-direction: row;
}
#principal{
    display: flex;
    width: 675px;
}
#nomeESobrenome{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#emailECasa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

#evaluation-form{
    position: absolute;
    display: flex;
    width: 675px;
    flex-direction: column;
    flex-wrap: nowrap;
}
#trybewarts-forms-logo{
 height: 500px;
 right: 30px;
 position: absolute;
}

#input-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#input-lastname{
    display: flex;
    flex-direction: row;
    
}
#label-family{
    display: flex;
    flex-direction: row;
}

.avaliacao{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.texto{
    position: relative;
    top: 310px;
    right: 380px;
}