.header{
    display: flex;
    background-color: rgb(50, 167, 145);

}
.trybewarts-login{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70%;
    flex-direction: row;
}

#principal{
    display: flex;
    width: 675px;
}
#evaluation-form{
    position: absolute;
    display: flex;
    width: 675px;
    flex-direction: column
}

#trybewarts-forms-logo{
 height: 500px;
 right: 30px;
 position: absolute;
}